#header-search {
    width: 200px;
    background: white;
    color: white;
    font-size: 14pt;
    border: 0px solid;
    outline: 0;
    vertical-align: -50%;
}

.header-view-logo {
    vertical-align: middle;
}

#search-icon {
    fill:black;
    width: 40px;
    height: 40px;
    /*! background: -webkit-repeating-radial-gradient; */
    color: brown;
}

#search-button {
  /*width: 60px;*/
}
