#header-search {
    width: 200px;
    background: white;
    color: white;
    font-size: 14pt;
    border: 0px solid;
    outline: 0;
    vertical-align: -50%;
}

.header-view-logo {
    vertical-align: middle;
}

#search-icon {
    fill:black;
    width: 40px;
    height: 40px;
    /*! background: -webkit-repeating-radial-gradient; */
    color: brown;
}

#search-button {
  /*width: 60px;*/
  /*! width:40px; */
  /*! height:40px; */
  /*! background: darkcyan; */
  /*! border-block: blanchedalmond; */
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222222;
}


#search-button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

#search-button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

#search-button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
#search-button:hover {
  background-color: #aaaaaa;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:40px;
  height:40px;
}
